dill
nltk==3.4.4
numpy==1.19.5
oauthlib==3.1.0
pandas==1.1.4
msgpack==0.5.6
msgpack-numpy==0.4.4.3
Pillow
plac
preshed
progress
protobuf
pyparsing
PySocks
python-dateutil
pytorch-crf==0.7.2
pytz
PyYAML==5.2
regex
requests
requests-oauthlib
rsa==3.4.2
scikit-learn==0.24.1
scipy==1.3.1
six
spacy==2.3.5
srsly
tensorboard
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
termcolor==1.1.0
thinc==7.4.5
threadpoolctl==2.1.0
tokenizers==0.10.1
toolz==0.10.0
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchtext==0.3.1
torchvision==0.8.2
tqdm
typing-extensions
ujson==1.35
Unidecode==1.2.0
urllib3
wasabi==0.8.1
Werkzeug==1.0.1
wrapt==1.10.11
